<ul class="card-text font-weight-light list-group list-group-flush">
  {% for item in data[1] %}
    <li class="list-group-item">
      <div class="row">
        <div class="col-xs-2 cl-sm-2 col-md-2 text-center date-column">
          {% if item.date %}
            {% assign year = item.date | split: '-' | first %}
            <span class="badge font-weight-bold danger-color-dark text-uppercase align-middle" style="min-width: 75px">
              {{ year }}
            </span>
          {% endif %}
        </div>
        <div class="col-xs-10 cl-sm-10 col-md-10">
          <strong>{{ item.title }}</strong>{% if item.awarder %}, {{ item.awarder }}{% endif %}
          {% if item.summary %}
            <br/>{{ item.summary }}
          {% endif %}
        </div>
      </div>
    </li>
  {% endfor %}
</ul>
